body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

#search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px black solid;
}

#search p {
  font-size: 1.2rem;
  padding: 0;
  margin-right: 20px;
  font-weight: bold;
}

#search input {
  padding: 5px;
  width: 300px;
  font-size: 1.2rem;
}

#search button {
  font-weight: bold;
  background: #818194;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 1rem;
  padding: 7px;
}

.results-table {
  width: 100%;
  /* display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; */
}
